.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
analysis/.DS_Store
analysis/figs/
analysis/output-sspTempHF/
hectorcal.rcmip.cmip6.Rproj
data-raw/C.cmip6-outputs/cmip6_global_means_tas.csv
data-raw/B.Hector_enesmble_runs/
